*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 200px; */
    margin-top: 50px;
    /* gap: 40px ; */
}

.logo_box_input {
    display: flex;
    align-items: center;
    /* gap: 70px; */
}

.logo_input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    max-width: 150px;
    /* margin-left: 100px; */
}

.logo_input {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    color: white;
    margin-right: 50px;
}

input {
    font-size: 20px;

}

input::placeholder {
    color: white;
    font-size: 20px;
}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    background: linear-gradient(to right, rgb(131, 216, 222), rgb(53, 143, 199));
    padding: 10px 25px;
    border-radius: 4px;
}

form:hover {
    background: linear-gradient(to right, rgb(78, 187, 195), rgb(148, 194, 222));

}

button {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 19px;
}



.setName {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    background: rgb(102, 192, 212);
    color: white;
    padding: 7px 55px;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 4px;

}




/*   A S O       A S O */


